Package: duck-launcher
Version: 0.67.5-trusty1
Architecture: amd64
Maintainer: Mark Spurgeon <markspurgeon96@hotmail.com>
Installed-Size: 1123
Depends: xterm, python, python-dbus, python-qt4, python-xlib, python-wnck, python-gtk2, python-xdg, python-numpy, python-kivy, python-pil, python-jinja2
Section: devel
Priority: extra
Description: Duck Application Launcher
 The App Launcher made for you ;)
