Source: ducklauncher
Section: devel
Priority: extra
Maintainer: Mark Spurgeon <markspurgeon96@hotmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ducklauncher.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ducklauncher.git;a=summary

Package: ducklauncher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},python-pyside, python-xlib, python-gnome2, python-glade2, python-wnck, python-gtk2,python-cssutils
Description: Duck App Launcher
 The App Launcher made for you ;)
