Source: duck-launcher
Maintainer: Mark Spurgeon <markspurgeon96@hotmail.com>
Section: python
Priority: optional
Build-Depends:debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: duck-launcher
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: An application launcher for linux

